{% extends 'ApiBundle:Component:base.html.twig' %}

{% block body %}
    {#    <h1><strong> AQUI SERÁ O SELO </strong></h1>#}
    {#    <h2>Tipo: {{ type }}</h2>#}
    {#    <h2>Score: {{ score }}</h2>#}
    {#    <h2>Badge Type: {{ badgeType }}</h2>#}
    {#    <h2>Company Name: {{ companyName }}</h2>#}

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" width="150" height="150">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Montserrat:700');
        </style>
        <svg viewBox="0 0 400 400" width="380" height="380" x="10" y="10">
            <path fill="#c5c5c5" d="M399.953,199.979v-0.002c0-110.441-89.531-199.98-199.978-199.98C89.531-0.003,0,89.536,0,199.977v0.002  H399.953z"/>
            <path fill="#9d9d9d" d="M0,199.979c0.002,110.446,89.53,199.979,199.975,199.979c110.447,0,199.978-89.532,199.978-199.979H0z"/>
            <path fill="#FFFFFF" d="M200.165,381.506C99.906,381.604,18.56,300.433,18.446,200.173C18.347,99.909,99.519,18.562,199.78,18.451  c100.261-0.1,181.625,81.073,181.722,181.333C381.606,300.05,300.426,381.4,200.165,381.506z"/>
        </svg>
        <svg viewBox="0 0 80 80" width="314" height="314" x="43" y="43">
            <path fill="#cacaca" d="M40,7.714c17.803,0,32.287,14.483,32.287,32.286S57.803,72.287,40,72.287  C22.197,72.287,7.713,57.803,7.713,40S22.197,7.714,40,7.714 M40,0C17.908,0,0,17.908,0,40c0,22.091,17.908,40,40,40  c22.092,0,40-17.909,40-40C80,17.908,62.092,0,40,0L40,0z"/>
        </svg>
        <svg viewBox="0 0 400 400" width="222" height="222" x="89" y="89">
            <path fill="#ffffff" d="M361.699,341.677c0,1.367,0,4.993-5.434,6.489l-146.409,41.693c-4.02,1.146-6.762,1.612-9.458,1.612  c-2.742,0-5.854-0.493-10.372-1.644L43.733,348.162c-4.904-1.395-5.433-4.998-5.433-6.485V221.144h323.398V341.677z"/>
            <path fill="#eaeaea" d="M29.772,341.677c0,4.813,2.626,12.126,11.627,14.69l146.405,41.693c5.07,1.299,8.906,1.939,12.594,1.939  c3.721,0,7.281-0.652,11.797-1.939l146.408-41.693c6.622-1.823,11.624-6.767,11.624-14.69V91.009h-0.018  c0-23.142-5.659-27.189-20.628-32.179c-10.003-3.334-43.09-12.898-64.47-19.025V0H114.884v39.805  c-21.375,6.126-54.463,15.69-64.467,19.025c-14.972,4.99-20.631,10.458-20.631,32.179h-0.014V341.677z M361.699,322.217  c0,1.367,0,4.991-5.434,6.487l-146.409,41.695c-4.02,1.145-6.762,1.61-9.458,1.61c-2.742,0-5.854-0.491-10.372-1.644L43.733,328.702  c-4.904-1.396-5.433-5-5.433-6.485V221.144h323.398V322.217z M356.266,348.166l-146.409,41.693c-4.02,1.146-6.762,1.612-9.458,1.612  c-2.742,0-5.854-0.493-10.372-1.644L43.733,348.162c-4.904-1.395-5.433-4.998-5.433-6.485v-5.952  c0.938,0.459,1.965,0.857,3.099,1.181l146.405,41.695c5.07,1.298,8.906,1.938,12.594,1.938c3.721,0,7.277-0.652,11.797-1.938  l146.408-41.695c1.089-0.299,2.109-0.717,3.096-1.183v5.954C361.699,343.044,361.699,346.67,356.266,348.166z"/>
        </svg>
        <svg viewBox="0 0 400 85.823" width="370" height="79" x="15" y="145">
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#cecece" points="84.87,85.822 0,85.822 27.564,53.201 0,20.578     84.87,20.578 "/>
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#cecece" points="315.158,85.822 400.026,85.822 372.463,53.201     400.026,20.578 315.158,20.578 "/>
            <rect x="44.35" fill-rule="evenodd" clip-rule="evenodd" fill="#d0d0d0" width="311.328" height="65.242"/>
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="44.35,65.242 84.87,65.242 84.87,85.822 "/>
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="355.678,65.242 315.158,65.242 315.158,85.822 "/>
        </svg>
        <svg viewBox="0 0 101.575 201.97" width="23" height="46" x="241" y="211">
            <polygon fill="#e7e7e7" points="101.493,201.97 50.705,175.921 -0.082,201.97 -0.082,0 101.493,0 "/>
            <polygon fill="#ffffff" points="25.301,188.95 9.985,196.806 9.985,0 25.301,0 "/>
            <polygon fill="#ffffff" points="76.117,188.95 91.433,196.806 91.433,0 76.117,0 "/>
        </svg>
        <foreignObject width="380" height="48" style="font-size: 30px;color: rgb(102, 102, 102);font-family: &quot;Arial&quot;;font-weight: 400;text-align: center;letter-spacing: 0em;line-height: 1.5;" x="10" y="176">
            <div xmlns="http://www.w3.org/1999/xhtml">
                <div>
                    <br/>
                </div>
                <div>
                    <br/>
                </div>
            </div>
        </foreignObject>
        <foreignObject width="380" height="48" style="font-size: 30px;color: rgb(255, 255, 255);font-family: Arial;font-weight: 400;text-align: center;letter-spacing: 0em;line-height: 1.5;" x="10" y="152">
            <div xmlns="http://www.w3.org/1999/xhtml">{{ type }}: {{ score }}</div>
        </foreignObject>
        <foreignObject width="380" height="48" style="font-size: 30px;color: rgb(195, 195, 195);font-family: Montserrat;font-weight: 700;text-align: center;letter-spacing: 0em;line-height: 1.5;" x="156" y="355">
            <div xmlns="http://www.w3.org/1999/xhtml">Queer</div>
        </foreignObject>
        <foreignObject width="380" height="48" style="font-size: 30px;color: rgb(102, 102, 102);font-family: Montserrat;font-weight: 700;text-align: center;letter-spacing: 0em;line-height: 1.5;" x="158" y="358">
            <div xmlns="http://www.w3.org/1999/xhtml">Queer</div>
        </foreignObject>
    </svg>


{% endblock %}